<?xml version="1.0" encoding="utf-8"?>
<config>
    <inlinehelp button="show" />
    <!-- Basic parameter settings for the component -->
	<fieldset name="gatracklog"
		addfieldprefix="GlennArkell\Component\Gatracklog\Administrator\Field"
		label="COM_GATRACKLOG" >

        <field name="allow_input" type="radio" class="btn-group btn-group-yesno"
			label="COM_GATRACKLOG_FORM_LBL_ALLOW_INPUT"
			description="COM_GATRACKLOG_FORM_DESC_ALLOW_INPUT"
			hint="COM_GATRACKLOG_FORM_LBL_ALLOW_INPUT" >
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="track_email" type="email" validate="email"
			label="COM_GATRACKLOG_FORM_LBL_TRACK_EMAIL"
			description="COM_GATRACKLOG_FORM_DESC_TRACK_EMAIL"
			hint="COM_GATRACKLOG_FORM_LBL_TRACK_EMAIL"/>

        <field name="header_text" type="editor" filter="raw"
			default="The following tracks have been logged with a GPS system and stored here for members use. You can add a log of your own if you wish by clicking on the green ADD button at the bottom. You can request a copy of a log by clicking on the green Request Copy button to the right of the respective log entry."
			label="COM_GATRACKLOG_FORM_LBL_HEADER_TEXT"
			description="COM_GATRACKLOG_FORM_DESC_HEADER_TEXT" />

        <field name="comment_text" type="editor" filter="raw"
			default="The following track information is provided to assist you with your drive on this route. If you drive this route, any comments you can provide about the track conditions would be appreciated and will help other members."
			label="COM_GATRACKLOG_FORM_LBL_COMMENT_TEXT"
			description="COM_GATRACKLOG_FORM_DESC_COMMENT_TEXT" />

		<field name="hotmail_help" type="article" default="72"
			label="COM_GATRACKLOG_FORM_LBL_HOTMAIL_HELP"
			description="COM_GATRACKLOG_FORM_DESC_HOTMAIL_HELP" />

    </fieldset>

    <!-- Integration parameter settings for the component -->
	<fieldset
		name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
		description="COM_GATRACKLOG_CONFIG_INTEGRATION_SETTINGS_DESC"
		>
		<fieldset
			name="integration_test"
			label="GATEST_TITLE"
		>
            <field name="send_email" type="radio" default="1"
    			layout="joomla.form.field.radio.switcher"
    			label="COM_GATRACKLOG_SEND_EMAIL_LABEL"
    			description="COM_GATRACKLOG_SEND_EMAIL_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>

            <field name="tmpl_email" type="radio" default="0"
    			layout="joomla.form.field.radio.switcher"
    			label="COM_GATRACKLOG_TMPL_EMAIL_LABEL"
    			description="COM_GATRACKLOG_TMPL_EMAIL_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>

		</fieldset>

		<fieldset
			name="integration_history"
			label="GAHISTORY_TITLE"
		>
            <field name="save_history" type="radio" layout="joomla.form.field.radio.switcher" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>

            <field name="history_limit" type="text" filter="integer" default="5" showon="save_history:1"
                label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
                description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" />

		</fieldset>

		<fieldset
			name="integration_workflows"
			label="JWORKFLOW_TITLE"
		>
    		<field
    			name="workflow_enabled"
    			type="radio"
    			label="JWORKFLOW_ENABLED_LABEL"
    			layout="joomla.form.field.radio.switcher"
    			default="0" >
    			<option value="0">JNO</option>
    			<option value="1">JYES</option>
    		</field>

		</fieldset>

		<fieldset
			name="integration_customfields"
			label="JGLOBAL_FIELDS_TITLE"
			>
    		<field
    			name="custom_fields_enable"
    			type="radio"
    			label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
    			class="btn-group btn-group-yesno"
    			default="0" >
    			<option value="0">JNO</option>
    			<option value="1">JYES</option>
    		</field>
		</fieldset>

    </fieldset>

    <!-- Permissions parameter settings for the component -->
    <fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">

        <field name="rules" type="rules" component="com_gatracklog" class="inputbox" filter="rules" validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL" section="component" />

	</fieldset>

</config>
